<h1>Passing the <%= @test_passage.test.title %> Test</h1>
<p>
  <b> <%= @test_passage.current_question.body %></b>
</p>
<%= timer(@test_passage) %>
<p>
  <b>
    <%= t('.question_number', number: @test_passage.current_question_number, count:  @test_passage.questions_count) %>
  </b>

  <%= content_tag :div, class: 'progress' do  %>
    <%= content_tag :div, class:'progress-bar',
                          data: {current_question: @test_passage.current_question_number,
                          total_questions:  @test_passage.questions_count } do %>
    <% end %>
  <% end %>
</p>

<%= form_with url: test_passage_path(@test_passage), local: true, id: 'test-passage-form', method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
  <%# console %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>
  <p><%= link_to 'Gist Question', gist_test_passage_path(@test_passage), method: :post %></p>
  <p><%= form.submit t('.next')%></p>
<% end %>
