<p class="nav user">  <%= link_to 'TestGuru', root_path %> </p>
<% if logged_in? %>
  <p class="nav user">
    Welcome, <b><%= current_user.name %></b>  Guru <br>
    <%= link_to 'Exit', logout_path, method: :delete %>
  </p>
<% else %>
  <p class="nav user">
    <%= link_to 'Sign up', signup_path %> |
    <%= link_to 'Sign in', login_path %>
  </p>
<% end %>
