<nav class="navbar navbar-light bg-light">
  <div class="d-flex justify-content-start align-items-center">
    <div> <%= link_to 'TestGuru', root_path, class: 'navbar-brand' %></div>
    <% if user_signed_in?  %>
      <div class="navbar-brand"> <%= link_to t('.panel'), admin_tests_path if current_user.admin? %></div>
      </div>
      <div class="col-6 d-flex justify-content-end">
      <div> <%= t('.welcome_html', name: current_user.first_name.capitalize) %></div>
      <div class="offset-1"> <%= link_to t('.logout'), destroy_user_session_path, method: :delete %> </div>
    <% else %>
      </div>
      <div class="col-6 d-flex justify-content-end">
      <div class="navbar-brand"> <%= link_to t('.sign_up'), new_user_registration_path %> </div>
      <div class="navbar-brand"> <%= link_to t('.sign_in'), new_user_session_path %> </div>
    <% end %>
  </div>
</nav>
