<div class="row justify-content-start">
    <div class="col col-md-4">
      <h1><%= t('.header') %></h1>
    </div>
    <div class="col-12">
      <%= link_to t('.new'), new_admin_test_path %>
    </div>
    <div class="col-12">
    <%= render 'shared/errors', resource: @test %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="sort-by-title pointer">
              <%= t('.title') %>
              <%= octicon 'arrow-up', class: 'text-success hide' %>
              <%= octicon 'arrow-down', class: 'text-success hide' %>
            </th>
            <th><%= t('.level') %></th>
            <th><%= t('.count') %></th>
            <th class="text-center" colspan="3"><%= t('.actions') %></th>
          </tr>
        </thead>
        <tbody>
          <%= render @tests %>
        </tbody>
      </table>
    </div>
</div>
