<div class="row justify-content-start">
    <div class="col col-md-4">
      <h1><%= t('.header') %></h1>
    </div>

    <div class="col-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th><%= t('.title') %></th>
            <th><%= t('.level') %></th>
            <th><%= t('.count') %></th>
            <th><%= t('.actions') %></th>
          </tr>
        </thead>
        <tbody>
          <%= render @tests %>
        </tbody>
      </table>
    </div>
</div>
