<p>
<strong>Title:</strong>
<%= @test.title %>
</p>

<p>
<strong>Level:</strong>
<%= @test.level %>
</p>

<p><%= link_to 'New question', new_test_question_path(@test) %> </p>

<%= render 'shared/questions' %>

<%= link_to 'Back', tests_path %> |
<%= link_to 'Edit', edit_test_path(@test) %>
